<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html">
    <title>Tworzenie notatki</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
<!--/*@thymesVar id="bibliography" type="pl.pw.ocd.app.model.NoteDTO"*/-->
<form class="form" id="form" method="POST" enctype="multipart/form-data" th:action="@{/notes/create}"
      th:object="${note}">
    <div class="formInputText center">
        <label for="note">Notatka<br></label>
        <textarea rows="8" cols="100" placeholder="Notatka" name="note" id="note" th:field="*{noteText}"></textarea>
    </div>
    <div class="formInputRadio center">
        <label>Dostępnosć:<br></label>

        <label for="private">Prywatna</label>
        <input type="radio" id="private" value="private" name="permission" checked onclick="toggleShared()">
        <br>
        <label for="public">Publiczna</label>
        <input type="radio" id="public" value="public" name="permission" onclick="toggleShared()">
        <br>
        <label for="shared">Udostępniona poniższym osobom:</label>
        <input type="radio" id="shared" value="shared" name="permission" onclick="toggleShared()">
    </div>
    <div class="formInputText center">
        <label for="sharedwith">Podaj loginy osób oddzielone spacjami:<br></label>
        <textarea rows="3" cols="100" placeholder="Komu udostępnić?" name="sharedwith" id="sharedwith"
                  th:field="*{sharedLogins}"></textarea>
    </div>
    <div class="center">
        <button type="submit" id="submitForm" class="btn">Zapisz notatkę</button>
    </div>
</form>
<script th:src="@{/js/createNoteUX.js}"></script>
</body>
</html>