<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html">
    <title>Rejestracja użytkownika</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet" href="../static/css/signup.css">
</head>

<body>
<div th:if="${not #lists.isEmpty(errors)}">
    <h1>Proszę poprawić następujące błędy:</h1>
    <ul th:each="error : ${errors}">
        <li th:text="${error}"></li>
    </ul>
</div>

<!--/*@thymesVar id="user" type="pl.pw.ocd.app.model.UserDTO"*/-->
<form class="form" id="form" method="POST" enctype="multipart/form-data" th:action="@{/signup}" th:object="${user}">
    <div class="formInputText center">
        <label for="login">Login:<br></label>
        <input type="text" placeholder="Wprowadź login" name="login" id="login" th:field="*{login}">
    </div>
    <div id="showLogin" class="validationShow center">
        <p class="validator" id="validationLogin"></p>
    </div>

    <div class="formInputText center">
        <label for="pass1">Hasło:<br></label>
        <input type="password" placeholder="Wprowadź hasło" id="pass1" th:field="*{password1}">
        <p id="passEntropy">Entropia = </p>
    </div>
    <div id="showPassword1" class="validationShow center">
        <p class="validator" id="validationPassword1"></p>
    </div>

    <div class="formInputText center">
        <label for="pass2">Powtórz hasło:<br></label>
        <input type="password" placeholder="Powtórz hasło" id="pass2" th:field="*{password2}">
    </div>
    <div id="showPassword2" class="validationShow center">
        <p class="validator" id="validationPassword2"></p>
    </div>

    <div class="formInputText center">
        <label for="email">Podaj email:<br></label>
        <input type="email" placeholder="email" name="email" id="email" th:field="*{email}">
    </div>
    <div id="showEmail" class="validationShow center">
        <p class="validator" id="validationEmail"></p>
    </div>

    <div class="formInputText center">
        <label for="firstName">Imię:<br></label>
        <input type="text" placeholder="Wprowadź imię" name="firstname" id="firstName" th:field="*{name}">
    </div>
    <div id="showFirstName" class="validationShow center">
        <p class="validator" id="validationFirstName"></p>
    </div>

    <div class="formInputText center">
        <label for="lastName">Nazwisko:<br></label>
        <input type="text" placeholder="Wprowadź nazwisko" name="lastname" id="lastName" th:field="*{surname}">
    </div>
    <div id="showLastName" class="validationShow center">
        <p class="validator" id="validationLastName"></p>
    </div>

    <div class="center">
        <button type="submit" id="submitForm" class="btn">Utwórz konto</button>

        <button type="reset" id="resetForm" class="cancelbtn">Wyczyść dane</button>
    </div>
</form>
<script th:src="@{/js/passwordEntropy.js}"></script>
</body>
</html>